<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Website - TastyFoods.com</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/aboutpage.css">
</head>

<body>
    <h1>Welcome to TastyFoods.com</h1>
    <main>
        <h2>FSD Assignment - Be Zen</h2>
        <h2>About the Website - TastyFoods.com</h2>
        <p>A food recipe website, where various recipes are listed. Users can view the recipe, comment on it, like the recipe, which will save the recipe in the liked recipes section for that particular user. Each recipe is associated to a particular user, called cook, and he can edit the recipe or delete it. Adding images is also available. Users can comment on other recipes.</p>
        <p>Features which could be added:</p>
        <ul>
            <li>Liking a particular recipe and it will get stored in the database</li>
            <li>Sharing the recipe</li>
            <li>Profile settings page yet to be added</li>
        </ul>
    </main>
</body>

</html>