.create-recipe-main {
    margin: 15px 40px 30px 40px;
}

.create-recipe-main h3 {
    margin: 0 0 30px 0;
}

.create-recipe-main .input-fields label {
    display: block;
    margin-bottom: 4px;
    margin-top: 16px;
}

.create-recipe-main .input-fields input, .create-recipe-main .input-fields textarea {
    font-size: 1rem;
    padding: 4px 8px;
}
.create-recipe-main .input-fields input {
    width: 45%;
}

.input-fields input[type="file"] {
    padding: 0;
    margin-bottom: 4px;
}
.input-fields span {
    display: block;
    font-size: 0.8rem;
    color: red;
}
.create-recipe-main form button {
    background-color: rgb(69, 201, 69);
    font-weight: bold;
    padding: 8px 18px;
    color: white;
    border-radius: 2em;
    border: 1px solid rgb(69, 201, 69);
    transition: transform .4s ease-out;
    margin: 15px auto;
}
.create-recipe-main form button:hover {
    cursor: pointer;
    transform: translateX(5px) scale(1.05);
}